body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    justify-content: center;
    gap: 20px;
}

.container {
    display: flex;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    align-items: center;
}

.col {
    flex: 1;
}


.color {
    background-color: black;
}