html {
    background-color: #cd5f5d;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: 120px;
    height: 50px;
    border-radius: 10%;
    background-color: #702423;
    color: #fbf3f3;
    font-size: 20px;
    font-weight: 700;
    box-shadow: rgba(117, 19, 19, 0.837) 0px 5px 15px;
}

button:hover {
    background-color: #5e1e1d;
    transform: scale(1.25);
}

input {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1 {
    font-style: oblique;
    font-size: 52px;
    color: #fbf3f3;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    justify-content: space-around;
}

.container {
    display: flex;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fbf3f3;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 300px;
}

.footer {
    display: flex;
    margin-top: 20px;
    color: #fbf3f3;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.col {
    flex: 1;
}


.color {
    background-color: black;
}

.grid-element {
    user-select: none;
}

.fa-github {
    color: white;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}
.fa-github:hover {
    transform: scale(2);
    cursor: pointer;
  }